

## Human verification of DSE records for msB, page 136r

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 136r ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.6797,0.3204,0.02968&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5077,0.1231,0.3233,0.03986&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7541,0.3166,0.1006,0.07797&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7570,0.2243,0.09967,0.07070&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.1545,0.2058,0.01920&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5059,0.7018,0.3454,0.05528&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.5598,0.1002,0.08583&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.4326,0.09912,0.08583&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5090,0.1664,0.3438,0.04917).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg0012.tlg001.msB:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.6797,0.3204,0.02968&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5077,0.1231,0.3233,0.03986&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7541,0.3166,0.1006,0.07797&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7570,0.2243,0.09967,0.07070&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.1545,0.2058,0.01920&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5059,0.7018,0.3454,0.05528&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.5598,0.1002,0.08583&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.4326,0.09912,0.08583&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5090,0.1664,0.3438,0.04917).


### Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

