

## Human verification of DSE records for msB, page 136r

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 136r ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.3747,0.2062,0.02269&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4993,0.7012,0.3639,0.03724&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.4486,0.2080,0.02386&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5090,0.1664,0.3438,0.04917&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.3183,0.2391,0.02735&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5096,0.6311,0.2137,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7570,0.2243,0.09967,0.07070&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5077,0.1231,0.3233,0.03986&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5090,0.2846,0.2194,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5120,0.6136,0.2194,0.02822&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5116,0.7189,0.3484,0.03346&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5120,0.5947,0.2240,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5155,0.4085,0.2259,0.02910&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.5598,0.1002,0.08583&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.6797,0.3204,0.02968&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5109,0.4815,0.2183,0.02997&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5017,0.6494,0.2299,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.3046,0.2126,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5079,0.2424,0.2373,0.02822&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5149,0.5208,0.2172,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.2133,0.2143,0.03288&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5131,0.3555,0.2316,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.4303,0.2113,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.5746,0.1940,0.02822&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.1545,0.2058,0.01920&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5022,0.4649,0.2402,0.02473&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7541,0.3166,0.1006,0.07797&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.3384,0.2235,0.02473&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.2636,0.2207,0.02822&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4947,0.5380,0.2454,0.02910&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5109,0.5016,0.2137,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5136,0.3931,0.2183,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.5580,0.2229,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.4326,0.09912,0.08583).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg0012.tlg001.msB:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.3747,0.2062,0.02269&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.4486,0.2080,0.02386&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.3183,0.2391,0.02735&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5096,0.6311,0.2137,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5090,0.2846,0.2194,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5120,0.6136,0.2194,0.02822&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5120,0.5947,0.2240,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5155,0.4085,0.2259,0.02910&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5109,0.4815,0.2183,0.02997&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5017,0.6494,0.2299,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.3046,0.2126,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5079,0.2424,0.2373,0.02822&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5149,0.5208,0.2172,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.2133,0.2143,0.03288&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5131,0.3555,0.2316,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.4303,0.2113,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.5746,0.1940,0.02822&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5022,0.4649,0.2402,0.02473&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.3384,0.2235,0.02473&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.2636,0.2207,0.02822&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4947,0.5380,0.2454,0.02910&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5109,0.5016,0.2137,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5136,0.3931,0.2183,0.02560&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.5580,0.2229,0.02560).
-  all [passages in urn:cts:greekLit:tlg5026.msB.dipl:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4993,0.7012,0.3639,0.03724&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5090,0.1664,0.3438,0.04917&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7570,0.2243,0.09967,0.07070&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5077,0.1231,0.3233,0.03986&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5116,0.7189,0.3484,0.03346&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.5598,0.1002,0.08583&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.6797,0.3204,0.02968&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.1545,0.2058,0.01920&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7541,0.3166,0.1006,0.07797&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.4326,0.09912,0.08583).


### Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

ὣς φάτο- καί ῥ' ἐπίορκον ἀπώμοσε . τὸν δ' ὀρόθυνε - (*urn:cts:greekLit:tlg0012.tlg001.msB:10.332*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.4947,0.5380,0.2454,0.02910&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4947,0.5380,0.2454,0.02910)


ιγ οὐκ ἄποθεν τῆς οἰήσεως ἧς ἔχεις περὶ ἐμοῦ- ἢ οὐκ ἐξ ὑπολήψεως ἀπαγγελῶ , ἀλλὰ μετὰ ἀκριβείας περὶ πάντων μαθών ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_7*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.7564,0.5598,0.1002,0.08583&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.5598,0.1002,0.08583)


Τρώων - ἀλλὰ σε φημὶ διαμπερὲς ἀγλαϊεῖσθαι- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.331*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5149,0.5208,0.2172,0.02648&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5149,0.5208,0.2172,0.02648)


ἦ μὲν τοὺς . ἵππους τε καὶ ἅρματα ποικίλα χαλκῷ (*urn:cts:greekLit:tlg0012.tlg001.msB:10.322*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5131,0.3555,0.2316,0.02560&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5131,0.3555,0.2316,0.02560)


ζ ὅμως καί περ ἔχων πάντα , δι' ἀλαζονείαν ἠράσθη κέρδους- τὸ γὰρ πλουτεῖν . καὶ ἱπποτροφίας ἐμποιεῖ πόθον- εὔελπις ᾖν ὡς εἰ ληφθείη , διὰ τούτων λυτρωθήσεται ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_1*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5077,0.1231,0.3233,0.03986&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5077,0.1231,0.3233,0.03986)


ὅς ῥα τότε Τρωσίν τε καὶ Ἕκτορι μῦθον ἔειπεν- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.318*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5090,0.2846,0.2194,0.02560&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5090,0.2846,0.2194,0.02560)


ια τὸ ἄπιστον δηλοῖ τῶν βαρβάρων . ὅτι τὰς πίστεις , ὅρκοις οὐ τρόποις ἀγαθοῖς βεβαιοῦσιν ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_4*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.7570,0.2243,0.09967,0.07070&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7570,0.2243,0.09967,0.07070)


νηῶν ὠκυπόρων σχεδὸν ἐλθέμεν ἔκ τε πυθέσθαι- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.320*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5103,0.3183,0.2391,0.02735&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.3183,0.2391,0.02735)


βῆ δ' ἰέναι ποτὶ νῆας απὸ στρατοῦ- οὐδ' ἄρ' ἔμελλε (*urn:cts:greekLit:tlg0012.tlg001.msB:10.336*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5120,0.6136,0.2194,0.02822&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5120,0.6136,0.2194,0.02822)


ἴστω νῦν Ζεὺς αὐτὸς ἐρίγδουπος πόσις Ἥρης - (*urn:cts:greekLit:tlg0012.tlg001.msB:10.329*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5109,0.4815,0.2183,0.02997&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5109,0.4815,0.2183,0.02997)


αὐτὰρ ὃ μοῦνος ἔην μετὰ πέντε κασιγνήτῃσι - (*urn:cts:greekLit:tlg0012.tlg001.msB:10.317*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5125,0.2636,0.2207,0.02822&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.2636,0.2207,0.02822)


μὴ μὲν τοῖς , ἵπποισιν ἀνὴρ ἐποχήσεται ἄλλος (*urn:cts:greekLit:tlg0012.tlg001.msB:10.330*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5109,0.5016,0.2137,0.02648&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5109,0.5016,0.2137,0.02648)


αὐτίκα δ' ἀμφ' ὤμοισιν ἐβάλλετο καμπύλα τόξα- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.333*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5114,0.5580,0.2229,0.02560&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.5580,0.2229,0.02560)


ιϝ ἰκτίς ἐστι κατὰ Ἀριστοτέλην ζῶον ὀρνιθοφάγον . ὅμοιον μικρῷ κυνιδίῳ- οὗ τὸ δέρμα φορεῖ- τάχα οὖν ὁ ποιητὴς κατὰ ἀφαίρεσιν αὐτὸ ἐποίησε τοῦ πρώτου ι ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_10*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5116,0.7189,0.3484,0.03346&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5116,0.7189,0.3484,0.03346)


κρατΐ δ' ἐπὶ κτιδέην κυνέην- ἕλε δ' ὀξὺν ἄκοντα- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.335*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5120,0.5947,0.2240,0.02648&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5120,0.5947,0.2240,0.02648)


ι τα ἀκριβῆ περὶ πὰντῶν ἀκοῦσαι- ὁ δὲ\ εἴ τινά που δηΐων ἕλοι ὡς ἐκ παραδόξου ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_5*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.7541,0.3166,0.1006,0.07797&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7541,0.3166,0.1006,0.07797)


τόφρα γὰρ ἐς στρατὸν εἶμι διαμπερὲς . ὄφρ' ἂν ἵκωμ (*urn:cts:greekLit:tlg0012.tlg001.msB:10.325*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5155,0.4085,0.2259,0.02910&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5155,0.4085,0.2259,0.02910)


ἀλλ' ἄγε μοι τὸ σκῆπτρον ἀνάσχεο . καί μοι ὄμοσσον . (*urn:cts:greekLit:tlg0012.tlg001.msB:10.321*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5114,0.3384,0.2235,0.02473&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.3384,0.2235,0.02473)


βουλὰς βουλεύειν- ἢ φευγέμεν ἠὲ μάχεσθαι- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.327*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5125,0.4486,0.2080,0.02386&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.4486,0.2080,0.02386)


ιδ μωρότερος τοῦ αἰτοῦντος ὁ ἐπαγγειλάμενος- ὀμνὺσι γὰρ ὡς ἤδη τὰ λάφυρα διαιρῶν ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_8*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5042,0.6797,0.3204,0.02968&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.6797,0.3204,0.02968)


ἕσσατο δ' ἔκτοσθεν ῥινὸν πολιοῖο λύκοιο- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.334*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5125,0.5746,0.1940,0.02822&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5125,0.5746,0.1940,0.02822)


δωσέμεν , οἳ φορέουσιν ἀμύμονα Πηλείωνα - (*urn:cts:greekLit:tlg0012.tlg001.msB:10.323*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5114,0.3747,0.2062,0.02269&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.3747,0.2062,0.02269)


ὣς φάθ'- ὃ δ' ἐν χερσὶ σκῆπτρον λάβε καί οἱ ὄμοσσεν- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.328*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5022,0.4649,0.2402,0.02473&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5022,0.4649,0.2402,0.02473)


κήρυκος θείοιο- πολύχρυσος πολύχαλκος- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.315*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5103,0.2133,0.2143,0.03288&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.2133,0.2143,0.03288)


θ ὁ μὲν Διομήδης προσλαβέσθαι συνεργὸν ἔσπευσε- καὶ τὸ ἐπικίνδυνον τοῦ πράγματος , καὶ τὸ νεμεσητὸν ὑφορώμενος- ὁ δὲ ἀνοήτως μόνος ὁρμᾷ ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_3*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5090,0.1664,0.3438,0.04917&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5090,0.1664,0.3438,0.04917)


νῆ' Ἀγαμεμνονέην - ὅθι που μέλλουσιν ἄριστοι (*urn:cts:greekLit:tlg0012.tlg001.msB:10.326*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5114,0.4303,0.2113,0.02560&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5114,0.4303,0.2113,0.02560)


ἐλθὼν ἐκ νηῶν ἂψ , Ἕκτορι μῦθον ἀποίσειν- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.337*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5096,0.6311,0.2137,0.02648&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5096,0.6311,0.2137,0.02648)


ιε λευκοῦ ὡς ἄφρων- κατάφωρος γὰρ δι' αὐτοῦ ἐγίνετο- ὁ δὲ Ἀριστοφάνης τεφρώδους φησὶ- λέγει γὰρ μὴ εἶναι λύκον λευκόν ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_9*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.4993,0.7012,0.3639,0.03724&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4993,0.7012,0.3639,0.03724)


Ἕκτορ - ἔμ' ὀτρύνει κραδίη καὶ θυμὸς ἀγήνωρ (*urn:cts:greekLit:tlg0012.tlg001.msB:10.319*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5103,0.3046,0.2126,0.02560&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5103,0.3046,0.2126,0.02560)


η δοκεῖ διαγανακτεῖν ὁ ποιητὴς . οἷος ὢν οἴοις ἐπιχειρεῖ ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_2*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5042,0.1545,0.2058,0.01920&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5042,0.1545,0.2058,0.01920)


ἀλλ' ὅτε δή ῥ' ἵππων τε καὶ ἀνδρῶν κάλλιφ' ὅμιλον (*urn:cts:greekLit:tlg0012.tlg001.msB:10.338*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5017,0.6494,0.2299,0.02648&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5017,0.6494,0.2299,0.02648)


σοὶ δ' ἐγὼ οὐχ ἅλϊος σκοπὸς ἔσομαι- οὐδ' ἄπο δόξης- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.324*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5136,0.3931,0.2183,0.02560&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5136,0.3931,0.2183,0.02560)


ιβ ὁ μὲν Ἕκτωρ ἀρίστους δώσειν φησὶ- ὁ δὲ\ τοὺς Ἀχιλλέως αἰτεῖ- τούτους εἰδὼς ἀρίστους- δηλοῖ δὲ ἀμφοτέρων τὴν ἀτοπίαν καὶ ἄνοιαν ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.136r_6*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.7564,0.4326,0.09912,0.08583&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.7564,0.4326,0.09912,0.08583)


ὃς δή τοι εἶδος μὲν ἔην κακὸς ἀλλὰ ποδώκης- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.316*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.5079,0.2424,0.2373,0.02822&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.5079,0.2424,0.2373,0.02822)