

## Human verification of named entity identification for msB, page 136r

## Persons

