

## Human verification of named entity identification for msB, page 136r

## Persons


**urn:cite2:hmt:pers.v1:pers22** - 1 passage

-  Ἀγαμεμνονέην (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.326.2)

**urn:cite2:hmt:pers.v1:pers1** - 2 passages

-  Πηλείωνα (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.323.6)
-  Ἀχιλλέως (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.136r_6.11)

**urn:cite2:hmt:pers.v1:pers172** - 4 passages

-  Ἕκτορι (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.318.7)
-  Ἕκτορι (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.337.6)
-  Ἕκτορ (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.319.1)
-  Ἕκτωρ (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.136r_6.4)

**urn:cite2:hmt:pers.v1:pers116** - 1 passage

-  Ἥρης (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.329.7)

**urn:cite2:hmt:pers.v1:pers21** - 1 passage

-  Ἀριστοφάνης (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.136r_9.12)

**urn:cite2:hmt:pers.v1:pers8** - 1 passage

-  Ζεὺς (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.329.3)

**urn:cite2:hmt:pers.v1:pers215** - 1 passage

-  Διομήδης (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.136r_3.4)

**urn:cite2:hmt:pers.v1:pers300** - 1 passage

-  Ἀριστοτέλην (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.136r_10.5)
