

## Human verification of DSE records for e3, page 130v

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 130v ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2386,0.5905,0.2008,0.01843&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2382,0.6262,0.2075,0.01885&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2388,0.6572,0.1979,0.02619&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2406,0.7054,0.2033,0.02605&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2339,0.3067,0.2185,0.03007&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2399,0.4356,0.2156,0.02162&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2334,0.3873,0.2184,0.01829&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2414,0.3688,0.2045,0.02162&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2388,0.6405,0.1963,0.02023&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2394,0.5716,0.2035,0.02190&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2365,0.6724,0.2146,0.02439&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2390,0.3295,0.1921,0.02647&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2382,0.5409,0.2090,0.01760&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2342,0.4550,0.2080,0.01885&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2393,0.4710,0.2100,0.02106&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2386,0.5557,0.2100,0.02176&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2312,0.5188,0.2087,0.02259&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2276,0.6887,0.2204,0.02647&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2378,0.4868,0.2067,0.02037&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2391,0.5060,0.2091,0.01621&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2409,0.4026,0.2009,0.02120&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2415,0.4206,0.2103,0.01843&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2389,0.6062,0.2073,0.02328&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2409,0.3483,0.2035,0.02591).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg0012.tlg001.e3:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2386,0.5905,0.2008,0.01843&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2382,0.6262,0.2075,0.01885&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2388,0.6572,0.1979,0.02619&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2406,0.7054,0.2033,0.02605&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2339,0.3067,0.2185,0.03007&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2399,0.4356,0.2156,0.02162&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2334,0.3873,0.2184,0.01829&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2414,0.3688,0.2045,0.02162&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2388,0.6405,0.1963,0.02023&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2394,0.5716,0.2035,0.02190&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2365,0.6724,0.2146,0.02439&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2390,0.3295,0.1921,0.02647&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2382,0.5409,0.2090,0.01760&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2342,0.4550,0.2080,0.01885&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2393,0.4710,0.2100,0.02106&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2386,0.5557,0.2100,0.02176&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2312,0.5188,0.2087,0.02259&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2276,0.6887,0.2204,0.02647&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2378,0.4868,0.2067,0.02037&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2391,0.5060,0.2091,0.01621&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2409,0.4026,0.2009,0.02120&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2415,0.4206,0.2103,0.01843&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2389,0.6062,0.2073,0.02328&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2409,0.3483,0.2035,0.02591).


### Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

ὅς τίς κεν τλαίῃ- οἷ τ' αὐτῷ κῦδος ἄροιτο- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.307*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2386,0.5905,0.2008,0.01843&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2386,0.5905,0.2008,0.01843)


νῆων ὠκυπόρων σχεδὸν ἐλθέμεν- ἔκ τε πυθέσθ (*urn:cts:greekLit:tlg0012.tlg001.e3:10.308*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2389,0.6062,0.2073,0.02328&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2389,0.6062,0.2073,0.02328)


τίς κέν μοι τόδε ἔργον ὑποσχόμενος τελέσειε (*urn:cts:greekLit:tlg0012.tlg001.e3:10.303*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2312,0.5188,0.2087,0.02259&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2312,0.5188,0.2087,0.02259)


ἀδμήτην- ἣν οὔ πω ὑπὸ ζυγὸν ἤγαγεν ἀνήρ- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.293*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2409,0.3483,0.2035,0.02591&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2409,0.3483,0.2035,0.02591)


ὥς νῦν μοι ἐθέλουσα παρίστασο καί με φύλασσε- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.291*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2339,0.3067,0.2185,0.03007&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2339,0.3067,0.2185,0.03007)


ἠὲ φυλάσσονται νῆες θοαὶ ὡς τὸ πάρος περ . (*urn:cts:greekLit:tlg0012.tlg001.e3:10.309*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2382,0.6262,0.2075,0.01885&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2382,0.6262,0.2075,0.01885)


βάν ῥ' ἴμεν ὥς τε λέοντε δύω διὰ νύκτα μέλαινα (*urn:cts:greekLit:tlg0012.tlg001.e3:10.297*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2415,0.4206,0.2103,0.01843&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2415,0.4206,0.2103,0.01843)


φύξιν βουλεύουσι μετὰ σφίσιν- οὐδ' ἐθέλουσι (*urn:cts:greekLit:tlg0012.tlg001.e3:10.311*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2388,0.6572,0.1979,0.02619&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2388,0.6572,0.1979,0.02619)


ὅσσοι ἔσαν Τρώων ἡγήτορες ἠδὲ μέδοντες- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.301*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2378,0.4868,0.2067,0.02037&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2378,0.4868,0.2067,0.02037)


Οὐδὲ μὲν οὐδε Τρῶας ἀγήορας εἴασεν Ἕκτωρ (*urn:cts:greekLit:tlg0012.tlg001.e3:10.299*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2342,0.4550,0.2080,0.01885&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2342,0.4550,0.2080,0.01885)


τοὺς ὅ γε συγκαλέσας πυκινὴν ἠρτύνετο βουλήν- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.302*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2391,0.5060,0.2091,0.01621&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2391,0.5060,0.2091,0.01621)


δώσω γὰρ δίφρόν τε- δύω τ' ἐριαύχενας ἵππους- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.305*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2386,0.5557,0.2100,0.02176&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2386,0.5557,0.2100,0.02176)


ἄμ φόνον ἄν νέκυας- διά τ' ἔντεα καὶ μελαν αἷμα- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.298*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2399,0.4356,0.2156,0.02162&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2399,0.4356,0.2156,0.02162)


τήν τοι ἐγὼ ῥέξω . χρυσὸν κέρασιν περιχεύας- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.294*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2414,0.3688,0.2045,0.02162&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2414,0.3688,0.2045,0.02162)


ἦν δέ τις ἐν Τρώεσσι Δόλων Εὐμήδεος υἱὸς (*urn:cts:greekLit:tlg0012.tlg001.e3:10.314*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2406,0.7054,0.2033,0.02605&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2406,0.7054,0.2033,0.02605)


ς ἔφαν εὐχόμενοι- τῶν δ' ἔκλυε Παλλὰς Ἀθήνη - (*urn:cts:greekLit:tlg0012.tlg001.e3:10.295*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2334,0.3873,0.2184,0.01829&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2334,0.3873,0.2184,0.01829)


οἵ κεν ἀριστεύωσι θοῇς ἐπὶ νηυσὶν Ἀχαιῶν - (*urn:cts:greekLit:tlg0012.tlg001.e3:10.306*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2394,0.5716,0.2035,0.02190&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2394,0.5716,0.2035,0.02190)


δώρῳ ἐπὶ μεγάλωι- μισθὸς δέ οἱ ἄρκιος ἔσται- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.304*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2382,0.5409,0.2090,0.01760&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2382,0.5409,0.2090,0.01760)


νυκτα φυλασσέμεναι καμάτωι ἁδηκότες αἰνῷ- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.312*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2365,0.6724,0.2146,0.02439&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2365,0.6724,0.2146,0.02439)


ἦ ἤδη χείρεσσιν ὑφ' ἡμετέρῃσι δαμέντες , (*urn:cts:greekLit:tlg0012.tlg001.e3:10.310*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2388,0.6405,0.1963,0.02023&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2388,0.6405,0.1963,0.02023)


εὕδειν- ἀλλ' ἄμυδις κικλήσκετο πάντας ἀρίστους (*urn:cts:greekLit:tlg0012.tlg001.e3:10.300*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2393,0.4710,0.2100,0.02106&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2393,0.4710,0.2100,0.02106)


Ὥς ἔφαθ' οἱ δ' ἄρα πάντες ἀκὴν ἐγένοντο σιωπῇ- (*urn:cts:greekLit:tlg0012.tlg001.e3:10.313*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2276,0.6887,0.2204,0.02647&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2276,0.6887,0.2204,0.02647)


οἵ δ' ἐπεὶ ἠρήσαντο Διὸς κούρῂ μεγάλοιο (*urn:cts:greekLit:tlg0012.tlg001.e3:10.296*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2409,0.4026,0.2009,0.02120&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2409,0.4026,0.2009,0.02120)


σοὶ δ' αὖ ἐγὼ ῥέξω βοῦν ἥνιν εὐρυμέτωπον (*urn:cts:greekLit:tlg0012.tlg001.e3:10.292*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2390,0.3295,0.1921,0.02647&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2390,0.3295,0.1921,0.02647)