

## Human verification of DSE records for e3, page 130v

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 130v ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2339,0.3067,0.2185,0.03007).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg0012.tlg001.e3:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2339,0.3067,0.2185,0.03007).


### Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

