

## Human verification of named entity identification for e3, page 130v

## Persons


**urn:cite2:hmt:pers.v1:pers8** - 1 passage

-  Διὸς (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.296.5)

**urn:cite2:hmt:pers.v1:pers172** - 1 passage

-  Ἕκτωρ (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.299.7)

**urn:cite2:hmt:pers.v1:pers67** - 2 passages

-  Παλλὰς (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.295.7)
-  Ἀθήνη (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.295.8)

**urn:cite2:hmt:pers.v1:pers474** - 2 passages

-  Δόλων (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.314.6)
-  Εὐμήδεος (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.314.7)
