

## Human verification of named entity identification for e3, page 130v

## Persons


**urn:cite2:hmt:pers.v1:pers1** - 1 passage

-  Ἀχιλλέως (urn:cts:greekLit:tlg5026.e3.dipl.tokens:10.130v_6.16)

**urn:cite2:hmt:pers.v1:pers117** - 2 passages

-  Νέστωρ (urn:cts:greekLit:tlg5026.e3.dipl.tokens:10.130v_5.5)
-  Νέστωρ (urn:cts:greekLit:tlg5026.e3.dipl.tokens:10.130v_4.14)

**urn:cite2:hmt:pers.v1:pers474** - 3 passages

-  Δόλων (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.314.6)
-  Εὐμήδεος (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.314.7)
-  Δόλωνος (urn:cts:greekLit:tlg5026.e3.dipl.tokens:10.130v_6.48)

**urn:cite2:hmt:pers.v1:pers67** - 2 passages

-  Παλλὰς (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.295.7)
-  Ἀθήνη (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.295.8)

**urn:cite2:hmt:pers.v1:pers172** - 4 passages

-  Ἕκτωρ (urn:cts:greekLit:tlg5026.e3.dipl.tokens:10.130v_5.24)
-  Ἕκτωρ (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.299.7)
-  Ἕκτωρ (urn:cts:greekLit:tlg5026.e3.dipl.tokens:10.130v_4.4)
-  Ἕκτωρ (urn:cts:greekLit:tlg5026.e3.dipl.tokens:10.130v_3.4)

**urn:cite2:hmt:pers.v1:pers8** - 1 passage

-  Διὸς (urn:cts:greekLit:tlg0012.tlg001.e3.tokens:10.296.5)

**urn:cite2:hmt:pers.v1:pers118** - 1 passage

-  Ὀδυσσεὺς (urn:cts:greekLit:tlg5026.e3.dipl.tokens:10.130v_1.6)
