

## Human verification of named entity identification for e3, page 130v

## Persons

