

## Human verification of paelographic observations for e3, page 130v

###  Completeness

To check for **completeness** of coverage, please review these visualizations of paleographic observations in ICT2:

-  [130v](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2344,0.3198,0.01340,0.01039&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2481,0.3203,0.006375,0.008869&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2550,0.3185,0.005358,0.01233&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2596,0.3192,0.01109,0.009008&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2713,0.3185,0.005543,0.01275&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2774,0.3204,0.004157,0.007622&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2818,0.3200,0.003049,0.008315&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2858,0.3190,0.004619,0.009285&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2930,0.3172,0.008315,0.01164&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3015,0.3194,0.007668,0.01039&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3079,0.3207,0.004897,0.007206&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3128,0.3204,0.009331,0.008869&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3220,0.3192,0.009608,0.008869&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3325,0.3208,0.009331,0.008869&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3408,0.3210,0.006098,0.007206&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3466,0.3212,0.004804,0.009978&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3508,0.3221,0.003511,0.007622&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3548,0.3221,0.005913,0.009978&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3600,0.3221,0.006098,0.009008&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3667,0.3216,0.005358,0.01039&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3724,0.3223,0.004619,0.009839&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3776,0.3167,0.006375,0.01441&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3843,0.3233,0.005266,0.007899&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3890,0.3237,0.002956,0.007761&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3925,0.3240,0.006005,0.009839&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3990,0.3212,0.006005,0.009562&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4072,0.3201,0.008407,0.02023&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4149,0.3250,0.005728,0.008176&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4204,0.3250,0.008038,0.01109&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4274,0.3257,0.005543,0.007622&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4326,0.3259,0.007668,0.008731&urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4413,0.3239,0.005451,0.01053)

## Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

| Image     | Reading     |
| :------------- | :------------- |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2344,0.3198,0.01340,0.01039&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2344,0.3198,0.01340,0.01039) | ω[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2481,0.3203,0.006375,0.008869&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2481,0.3203,0.006375,0.008869) | σ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2550,0.3185,0.005358,0.01233&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2550,0.3185,0.005358,0.01233) | ν[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2596,0.3192,0.01109,0.009008&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2596,0.3192,0.01109,0.009008) | υν[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2713,0.3185,0.005543,0.01275&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2713,0.3185,0.005543,0.01275) | μ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2774,0.3204,0.004157,0.007622&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2774,0.3204,0.004157,0.007622) | ο[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2818,0.3200,0.003049,0.008315&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2818,0.3200,0.003049,0.008315) | ι[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2858,0.3190,0.004619,0.009285&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2858,0.3190,0.004619,0.009285) | ε[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.2930,0.3172,0.008315,0.01164&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.2930,0.3172,0.008315,0.01164) | θε[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3015,0.3194,0.007668,0.01039&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3015,0.3194,0.007668,0.01039) | λ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3079,0.3207,0.004897,0.007206&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3079,0.3207,0.004897,0.007206) | ο[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3128,0.3204,0.009331,0.008869&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3128,0.3204,0.009331,0.008869) | υσ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3220,0.3192,0.009608,0.008869&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3220,0.3192,0.009608,0.008869) | α[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3325,0.3208,0.009331,0.008869&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3325,0.3208,0.009331,0.008869) | π[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3408,0.3210,0.006098,0.007206&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3408,0.3210,0.006098,0.007206) | α[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3466,0.3212,0.004804,0.009978&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3466,0.3212,0.004804,0.009978) | ρ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3508,0.3221,0.003511,0.007622&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3508,0.3221,0.003511,0.007622) | ι[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3548,0.3221,0.005913,0.009978&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3548,0.3221,0.005913,0.009978) | στ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3600,0.3221,0.006098,0.009008&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3600,0.3221,0.006098,0.009008) | α[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3667,0.3216,0.005358,0.01039&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3667,0.3216,0.005358,0.01039) | σ[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3724,0.3223,0.004619,0.009839&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3724,0.3223,0.004619,0.009839) | ο[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3776,0.3167,0.006375,0.01441&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3776,0.3167,0.006375,0.01441) | κ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3843,0.3233,0.005266,0.007899&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3843,0.3233,0.005266,0.007899) | α[4] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3890,0.3237,0.002956,0.007761&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3890,0.3237,0.002956,0.007761) | ι[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3925,0.3240,0.006005,0.009839&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3925,0.3240,0.006005,0.009839) | μ[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.3990,0.3212,0.006005,0.009562&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.3990,0.3212,0.006005,0.009562) | ε[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.4072,0.3201,0.008407,0.02023&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4072,0.3201,0.008407,0.02023) | φ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.4149,0.3250,0.005728,0.008176&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4149,0.3250,0.005728,0.008176) | υ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.4204,0.3250,0.008038,0.01109&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4204,0.3250,0.008038,0.01109) | λ[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.4274,0.3257,0.005543,0.007622&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4274,0.3257,0.005543,0.007622) | α[5] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.4326,0.3259,0.007668,0.008731&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4326,0.3259,0.007668,0.008731) | σς[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_130v_131r.tif&RGN=0.4413,0.3239,0.005451,0.01053&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_130v_131r@0.4413,0.3239,0.005451,0.01053) | ε[4] | 

