

## Human verification of DSE records for msB, page 135v

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 135v ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2281,0.6631,0.2063,0.02735&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2264,0.5153,0.2025,0.02328&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1078,0.3669,0.1037,0.1257&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1109,0.5502,0.1076,0.1248&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2229,0.2549,0.1925,0.02328&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2246,0.5694,0.2159,0.02211&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2255,0.3689,0.2296,0.02124&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2270,0.5863,0.1945,0.02444&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1131,0.6884,0.3476,0.07128&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2225,0.4969,0.2242,0.02415&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2157,0.3858,0.2255,0.02764&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2168,0.4606,0.2235,0.02182&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2264,0.6090,0.1995,0.02269&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2266,0.5496,0.2264,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2262,0.3337,0.1844,0.02095&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2261,0.2752,0.1977,0.02473&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1076,0.1594,0.3423,0.04422&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2231,0.4763,0.2185,0.02589&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1094,0.2395,0.1043,0.09427&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2152,0.2290,0.2187,0.03200&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2273,0.4425,0.2310,0.02299&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2244,0.4053,0.2279,0.02415&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1091,0.1507,0.3174,0.02735&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2266,0.5348,0.1997,0.02328&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2124,0.6424,0.2447,0.02328&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2231,0.4248,0.2264,0.02415&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2133,0.3125,0.2421,0.02764&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2257,0.2991,0.2065,0.02182&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2261,0.3489,0.2242,0.02269&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2283,0.6261,0.2332,0.02560).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg0012.tlg001.msB:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2281,0.6631,0.2063,0.02735&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2264,0.5153,0.2025,0.02328&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2229,0.2549,0.1925,0.02328&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2246,0.5694,0.2159,0.02211&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2255,0.3689,0.2296,0.02124&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2270,0.5863,0.1945,0.02444&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2225,0.4969,0.2242,0.02415&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2157,0.3858,0.2255,0.02764&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2168,0.4606,0.2235,0.02182&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2264,0.6090,0.1995,0.02269&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2266,0.5496,0.2264,0.02648&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2262,0.3337,0.1844,0.02095&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2261,0.2752,0.1977,0.02473&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2231,0.4763,0.2185,0.02589&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2152,0.2290,0.2187,0.03200&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2273,0.4425,0.2310,0.02299&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2244,0.4053,0.2279,0.02415&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2266,0.5348,0.1997,0.02328&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2124,0.6424,0.2447,0.02328&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2231,0.4248,0.2264,0.02415&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2133,0.3125,0.2421,0.02764&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2257,0.2991,0.2065,0.02182&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2261,0.3489,0.2242,0.02269&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2283,0.6261,0.2332,0.02560).
-  all [passages in urn:cts:greekLit:tlg5026.msB.dipl:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1078,0.3669,0.1037,0.1257&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1109,0.5502,0.1076,0.1248&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1131,0.6884,0.3476,0.07128&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1076,0.1594,0.3423,0.04422&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1094,0.2395,0.1043,0.09427&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1091,0.1507,0.3174,0.02735).


### Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

β ὑπὸ τὸν αὐτὸν χρόνον ἀμφότεροι τοὺς κατασκόπους πέμπουσιν συντυγχάνουσι γὰρ ἀλλήλοις ἰόντες- ἀλλ' ὁ ποιητὴς ἐτίμησε τὸ Ἑλληνικὸν . τῇ προτέρα τάξει τοῦ λόγου ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.135v_2*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.1076,0.1594,0.3423,0.04422&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1076,0.1594,0.3423,0.04422)


ἂμ φόνον . ἂν νέκυας . διά τ' ἔντεα καὶ μέλαν αἷμα- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.298*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2255,0.3689,0.2296,0.02124&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2255,0.3689,0.2296,0.02124)


Ὣς ἔφαν εὐχόμενοι- τῶν δ' ἔκλυε Παλλὰς Ἀθήνη - (*urn:cts:greekLit:tlg0012.tlg001.msB:10.295*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2133,0.3125,0.2421,0.02764&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2133,0.3125,0.2421,0.02764)


οἵ κεν ἄριστεύωστι θοῇς ἐπὶ νηυσὶν Ἀχαιῶν - (*urn:cts:greekLit:tlg0012.tlg001.msB:10.306*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2264,0.5153,0.2025,0.02328&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2264,0.5153,0.2025,0.02328)


ὣς νῦν μοι ἐθέλουσα παρίστασο καί με φύλασσε- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.291*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2152,0.2290,0.2187,0.03200&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2152,0.2290,0.2187,0.03200)


νηῶν ὠκυπόρων σχεδὸν ἐλθέμεν . ἔκ τε πυθέσθαι (*urn:cts:greekLit:tlg0012.tlg001.msB:10.308*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2266,0.5496,0.2264,0.02648&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2266,0.5496,0.2264,0.02648)


ϝ διηγήσεως ἐδέησε πρὸς τὸ σημᾶναι τὸ ἄδηλον τοῦ ἀνδρό - ὅπως τοιοῦτος ὢν τῶν Ἀχιλλέως ἴππων ἐρᾷ , καὶ μετὀλίγον προδότης γίνεται- ταχέως δὲ ἅπαντα ἐδήλωσε- τὸ ἔθνος- τὸ ὄνομα αὐτοῦ τε καὶ τοῦ πρς - τὴν τέχν - τὴν τύχην ὅτι πλούσιος- τὴν μορφὴν τοῦ Δόλωνος καὶ τὴν ὠκύτητα ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.135v_6*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.1131,0.6884,0.3476,0.07128&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1131,0.6884,0.3476,0.07128)


τίς κέν μοι τόδε ἔργον ὑποσχόμενος τελέσειε (*urn:cts:greekLit:tlg0012.tlg001.msB:10.303*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2168,0.4606,0.2235,0.02182&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2168,0.4606,0.2235,0.02182)


σοί δ' αὖ ἐγὼ ῥέξω βοῦν ἦνιν εὐρυμέτωπον- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.292*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2229,0.2549,0.1925,0.02328&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2229,0.2549,0.1925,0.02328)


νύκτα φυλασσέμεναι καμάτῳ ἁδηκότες αἰνῷ- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.312*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2283,0.6261,0.2332,0.02560&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2283,0.6261,0.2332,0.02560)


φύξιν βουλεύουσι μετὰ σφίσιν- οὐδ' ἐθέλουσι (*urn:cts:greekLit:tlg0012.tlg001.msB:10.311*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2264,0.6090,0.1995,0.02269&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2264,0.6090,0.1995,0.02269)


ὅσσοι ἔσαν Τρώων ἠγήτορες ἠδὲ μέδοντες- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.301*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2231,0.4248,0.2264,0.02415&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2231,0.4248,0.2264,0.02415)


ὣς ἔφαθ'- οἳ δ' ἄρα πάντες ἀκὴν ἐγένοντο σιωπῇ- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.313*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2124,0.6424,0.2447,0.02328&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2124,0.6424,0.2447,0.02328)


ἦ ἤδη χείρεσσιν ὑφ' ἡμετέρῃσι δαμέντες , (*urn:cts:greekLit:tlg0012.tlg001.msB:10.310*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2270,0.5863,0.1945,0.02444&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2270,0.5863,0.1945,0.02444)


δώρῳ ἐπὶ μεγάλῳ- μισθὸς δέ οἱ ἄρκιος ἔσται- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.304*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2231,0.4763,0.2185,0.02589&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2231,0.4763,0.2185,0.02589)


ε ὁ μὲν Νέστωρ τ/ πρᾶξιν ἐξεφαύλισεν ἐπὶ φήμης ἀκοὴν πέμπ τὸν κατάσκοπον- ἤ ἐπῒ σύλληψιν τινὸς πολεμίου μομωθέντος- ὁ δὲ Ἕκτωρ . ἐπὶ τὴν περὶ τῶν ὅλων γνῶσιν ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.135v_5*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.1109,0.5502,0.1076,0.1248&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1109,0.5502,0.1076,0.1248)


α ὅρα πῶς ὁ συνετώτερος Ὀδυσσεὺς τὴν εὐχὴν ἐκοινοποιήσατο- οὗτος δὲ , ἰδίᾳ καὶ ἄλλως ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.135v_1*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.1091,0.1507,0.3174,0.02735&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1091,0.1507,0.3174,0.02735)


οἳ δ' ἐπεὶ ἠρήσαντο Διὸς κούρῃ μεγάλοιο ; (*urn:cts:greekLit:tlg0012.tlg001.msB:10.296*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2262,0.3337,0.1844,0.02095&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2262,0.3337,0.1844,0.02095)


γ ὁ μὲν Ἕκτωρ θορυβώδης καὶ ἀλαζὼν ὢν- πάντας ἀνοήτως συγκαλεῖ τοὺς ἀρίστους- οἱ δὲ Ἕλληνες βραχεῖς ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.135v_3*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.1094,0.2395,0.1043,0.09427&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1094,0.2395,0.1043,0.09427)


ἀδμήτην- ἣν οὔ πω ὑπὸ ζυγὸν ἤγαγεν ἀνήρ- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.293*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2261,0.2752,0.1977,0.02473&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2261,0.2752,0.1977,0.02473)


Οὐδὲ μὲν οὐδὲ Τρῶας ἀγήνορας εἴασεν Ἕκτωρ (*urn:cts:greekLit:tlg0012.tlg001.msB:10.299*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2157,0.3858,0.2255,0.02764&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2157,0.3858,0.2255,0.02764)


δ ὁ μὲν Ἕκτωρ μετὰ προστάξεως τὸν ὑπακουσόμενον τῇ χρείᾳ καλεῖ- ὁ δὲ Νέστωρ ὑποτίθεται- καὶ οἱ μὲ\ν ἃ ἔχουσιν ἐπαγγέλλονται- ὁ δὲ\ ἃ οὐκ ἔχει- καὶ οἱ μὲ\ν δῶρον- ὁ δὲ\ ἀτίμ φησὶ μισθόν ⁑ (*urn:cts:greekLit:tlg5026.msB.dipl:10.135v_4*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.1078,0.3669,0.1037,0.1257&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.1078,0.3669,0.1037,0.1257)


τήν τοι ἐγὼ ῥέξω χρυσὸν κέρασιν περιχεύας- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.294*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2257,0.2991,0.2065,0.02182&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2257,0.2991,0.2065,0.02182)


τοὺς ὅ γε συγκαλέσας πυκινὴν ἠρτύνετο βουλήν- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.302*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2273,0.4425,0.2310,0.02299&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2273,0.4425,0.2310,0.02299)


βάν ῥ' ἴμεν ὥς τε λέοντε δύω διὰ νύκτα μέλαιναν (*urn:cts:greekLit:tlg0012.tlg001.msB:10.297*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2261,0.3489,0.2242,0.02269&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2261,0.3489,0.2242,0.02269)


ἦν δέ τις ἐν Τρώεσσι Δόλων Εὐμήδεος υἱὸς (*urn:cts:greekLit:tlg0012.tlg001.msB:10.314*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2281,0.6631,0.2063,0.02735&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2281,0.6631,0.2063,0.02735)


ὅς τις κεν τλαίη οἷ τ' αὐτῷ κῦδος ἄροιτο (*urn:cts:greekLit:tlg0012.tlg001.msB:10.307*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2266,0.5348,0.1997,0.02328&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2266,0.5348,0.1997,0.02328)


ἠέ φυλάσσονται νῆες θοαὶ ὡς το πάρος περ ; (*urn:cts:greekLit:tlg0012.tlg001.msB:10.309*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2246,0.5694,0.2159,0.02211&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2246,0.5694,0.2159,0.02211)


δώσω γὰρ δίφρον τε . δύω τ' ἐριαύχενας ἵππους . (*urn:cts:greekLit:tlg0012.tlg001.msB:10.305*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2225,0.4969,0.2242,0.02415&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2225,0.4969,0.2242,0.02415)


εὕδειν- ἀλλ' ἄμυδις κικλήσκετο πάντας ἀρίστους- (*urn:cts:greekLit:tlg0012.tlg001.msB:10.300*)  [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2244,0.4053,0.2279,0.02415&WID=1000&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2244,0.4053,0.2279,0.02415)