

## Human verification of DSE records for msB, page 135v

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 135v ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2089,0.2384,0.1907,0.02486).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg0012.tlg001.msB:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2089,0.2384,0.1907,0.02486).


### Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

