

## Human verification of named entity identification for msB, page 135v

## Persons

