

## Human verification of named entity identification for msB, page 135v

## Persons


**urn:cite2:hmt:pers.v1:pers1** - 1 passage

-  Ἀχιλλέως (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.135v_6.16)

**urn:cite2:hmt:pers.v1:pers117** - 2 passages

-  Νέστωρ (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.135v_5.4)
-  Νέστωρ (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.135v_4.14)

**urn:cite2:hmt:pers.v1:pers474** - 3 passages

-  Δόλωνος (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.135v_6.48)
-  Δόλων (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.314.6)
-  Εὐμήδεος (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.314.7)

**urn:cite2:hmt:pers.v1:pers67** - 2 passages

-  Παλλὰς (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.295.7)
-  Ἀθήνη (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.295.8)

**urn:cite2:hmt:pers.v1:pers172** - 3 passages

-  Ἕκτωρ (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.135v_5.22)
-  Ἕκτωρ (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.135v_3.4)
-  Ἕκτωρ (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.135v_4.4)

**urn:cite2:hmt:pers.v1:pers8** - 1 passage

-  Διὸς (urn:cts:greekLit:tlg0012.tlg001.msB.tokens:10.296.5)

**urn:cite2:hmt:pers.v1:pers118** - 1 passage

-  Ὀδυσσεὺς (urn:cts:greekLit:tlg5026.msB.dipl.tokens:10.135v_1.6)
