

## Human verification of paelographic observations for msB, page 135v

###  Completeness

To check for **completeness** of coverage, please review these visualizations of paleographic observations in ICT2:

-  [135v](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2119,0.2503,0.008106,0.01156&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2185,0.2500,0.007553,0.01012&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2253,0.2509,0.005895,0.009249&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2318,0.2486,0.005895,0.01156&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2377,0.2488,0.006448,0.01301&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2450,0.2419,0.01142,0.01965&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2544,0.2471,0.006080,0.01676&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2601,0.2500,0.007553,0.01098&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2664,0.2491,0.004606,0.01012&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2706,0.2434,0.008475,0.01734&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2784,0.2477,0.01124,0.01098&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2880,0.2434,0.007922,0.01474&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2953,0.2477,0.005158,0.009827&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3007,0.2500,0.006080,0.008092&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3077,0.2445,0.006448,0.01763&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3137,0.2480,0.008659,0.009538&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3231,0.2457,0.01105,0.01590&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3336,0.2468,0.003869,0.01156&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3379,0.2486,0.003316,0.009538&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3414,0.2488,0.005158,0.01012&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3452,0.2460,0.009211,0.01358&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3530,0.2468,0.006080,0.01069&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3587,0.2434,0.007185,0.01329&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3655,0.2483,0.004606,0.007514&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3692,0.2471,0.003500,0.009827&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3736,0.2462,0.006448,0.01069&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3808,0.2442,0.005895,0.01445&urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3860,0.2483,0.008290,0.007225)

## Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

| Image     | Reading     |
| :------------- | :------------- |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2119,0.2503,0.008106,0.01156&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2119,0.2503,0.008106,0.01156) | π[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2185,0.2500,0.007553,0.01012&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2185,0.2500,0.007553,0.01012) | ω[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2253,0.2509,0.005895,0.009249&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2253,0.2509,0.005895,0.009249) | σ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2318,0.2486,0.005895,0.01156&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2318,0.2486,0.005895,0.01156) | α[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2377,0.2488,0.006448,0.01301&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2377,0.2488,0.006448,0.01301) | ν[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2450,0.2419,0.01142,0.01965&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2450,0.2419,0.01142,0.01965) | επ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2544,0.2471,0.006080,0.01676&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2544,0.2471,0.006080,0.01676) | ει[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2601,0.2500,0.007553,0.01098&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2601,0.2500,0.007553,0.01098) | τ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2664,0.2491,0.004606,0.01012&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2664,0.2491,0.004606,0.01012) | ο[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2706,0.2434,0.008475,0.01734&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2706,0.2434,0.008475,0.01734) | δ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2784,0.2477,0.01124,0.01098&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2784,0.2477,0.01124,0.01098) | υσ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2880,0.2434,0.007922,0.01474&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2880,0.2434,0.007922,0.01474) | η[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.2953,0.2477,0.005158,0.009827&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.2953,0.2477,0.005158,0.009827) | ο[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3007,0.2500,0.006080,0.008092&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3007,0.2500,0.006080,0.008092) | σ[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3077,0.2445,0.006448,0.01763&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3077,0.2445,0.006448,0.01763) | εγ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3137,0.2480,0.008659,0.009538&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3137,0.2480,0.008659,0.009538) | ω[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3231,0.2457,0.01105,0.01590&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3231,0.2457,0.01105,0.01590) | θει[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3336,0.2468,0.003869,0.01156&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3336,0.2468,0.003869,0.01156) | ο[3] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3379,0.2486,0.003316,0.009538&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3379,0.2486,0.003316,0.009538) | ι[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3414,0.2488,0.005158,0.01012&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3414,0.2488,0.005158,0.01012) | ο[4] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3452,0.2460,0.009211,0.01358&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3452,0.2460,0.009211,0.01358) | λ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3530,0.2468,0.006080,0.01069&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3530,0.2468,0.006080,0.01069) | α[2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3587,0.2434,0.007185,0.01329&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3587,0.2434,0.007185,0.01329) | θ[1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3655,0.2483,0.004606,0.007514&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3655,0.2483,0.004606,0.007514) | [5] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3692,0.2471,0.003500,0.009827&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3692,0.2471,0.003500,0.009827) | [2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3736,0.2462,0.006448,0.01069&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3736,0.2462,0.006448,0.01069) | [1] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3808,0.2442,0.005895,0.01445&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3808,0.2442,0.005895,0.01445) | [2] | 

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_134v_135r.tif&RGN=0.3860,0.2483,0.008290,0.007225&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_134v_135r@0.3860,0.2483,0.008290,0.007225) | [2] | 

