

## Human verification of paelographic observations for msB, page 135v

###  Completeness

To check for **completeness** of coverage, please review these visualizations of paleographic observations in ICT2:

-  [135v](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2163,0.2336,0.01345,0.02415&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2292,0.2424,0.007922,0.01426&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2369,0.2421,0.006817,0.01484&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2447,0.2412,0.004422,0.01338&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2485,0.2424,0.005895,0.01309&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2544,0.2415,0.006080,0.01397&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2612,0.2421,0.004606,0.01135&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2662,0.2432,0.003685,0.009892&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2697,0.2392,0.006264,0.01629&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2749,0.2368,0.005343,0.01542&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2791,0.2389,0.005895,0.01600&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2833,0.2403,0.008106,0.01426&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2891,0.2418,0.005343,0.01251&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2942,0.2418,0.004422,0.01135&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2979,0.2424,0.005711,0.01018&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3036,0.2412,0.009211,0.01164&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3141,0.2424,0.008659,0.01077&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3207,0.2415,0.006632,0.01164&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3277,0.2432,0.004237,0.01280&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3316,0.2415,0.004606,0.01426&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3353,0.2427,0.007922,0.01135&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3429,0.2432,0.005158,0.009310&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3486,0.2429,0.005158,0.01018&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3539,0.2427,0.004606,0.01106&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3581,0.2269,0.008290,0.03113&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3653,0.2415,0.005895,0.01106&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3714,0.2421,0.004237,0.009601&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3751,0.2427,0.006448,0.01251&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3815,0.2403,0.006817,0.01077&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3891,0.2395,0.007553,0.01746&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3963,0.2400,0.007369,0.01833&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4025,0.2406,0.006264,0.01338&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4090,0.2406,0.005343,0.01426&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4132,0.2397,0.006632,0.01426&urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4186,0.2383,0.005527,0.01338)

## Correctness

To check for **correctness** of indexing, please verify that text transcriptions and images agree:

| Image     | Reading     |
| :------------- | :------------- |
| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2163,0.2336,0.01345,0.02415&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2163,0.2336,0.01345,0.02415) | ω[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2292,0.2424,0.007922,0.01426&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2292,0.2424,0.007922,0.01426) | σ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2369,0.2421,0.006817,0.01484&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2369,0.2421,0.006817,0.01484) | ν[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2447,0.2412,0.004422,0.01338&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2447,0.2412,0.004422,0.01338) | υ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2485,0.2424,0.005895,0.01309&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2485,0.2424,0.005895,0.01309) | ν[2] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2544,0.2415,0.006080,0.01397&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2544,0.2415,0.006080,0.01397) | μ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2612,0.2421,0.004606,0.01135&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2612,0.2421,0.004606,0.01135) | ο[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2662,0.2432,0.003685,0.009892&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2662,0.2432,0.003685,0.009892) | ι[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2697,0.2392,0.006264,0.01629&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2697,0.2392,0.006264,0.01629) | ε[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2749,0.2368,0.005343,0.01542&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2749,0.2368,0.005343,0.01542) | θ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2791,0.2389,0.005895,0.01600&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2791,0.2389,0.005895,0.01600) | ε[2] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2833,0.2403,0.008106,0.01426&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2833,0.2403,0.008106,0.01426) | λ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2891,0.2418,0.005343,0.01251&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2891,0.2418,0.005343,0.01251) | ο[2] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2942,0.2418,0.004422,0.01135&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2942,0.2418,0.004422,0.01135) | υ[2] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.2979,0.2424,0.005711,0.01018&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.2979,0.2424,0.005711,0.01018) | σ[2] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3036,0.2412,0.009211,0.01164&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3036,0.2412,0.009211,0.01164) | α[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3141,0.2424,0.008659,0.01077&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3141,0.2424,0.008659,0.01077) | π[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3207,0.2415,0.006632,0.01164&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3207,0.2415,0.006632,0.01164) | α[2] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3277,0.2432,0.004237,0.01280&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3277,0.2432,0.004237,0.01280) | ρ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3316,0.2415,0.004606,0.01426&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3316,0.2415,0.004606,0.01426) | ι[2] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3353,0.2427,0.007922,0.01135&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3353,0.2427,0.007922,0.01135) | στ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3429,0.2432,0.005158,0.009310&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3429,0.2432,0.005158,0.009310) | α[3] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3486,0.2429,0.005158,0.01018&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3486,0.2429,0.005158,0.01018) | σ[3] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3539,0.2427,0.004606,0.01106&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3539,0.2427,0.004606,0.01106) | ο[3] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3581,0.2269,0.008290,0.03113&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3581,0.2269,0.008290,0.03113) | κ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3653,0.2415,0.005895,0.01106&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3653,0.2415,0.005895,0.01106) | α[4] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3714,0.2421,0.004237,0.009601&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3714,0.2421,0.004237,0.009601) | ι[3] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3751,0.2427,0.006448,0.01251&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3751,0.2427,0.006448,0.01251) | μ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3815,0.2403,0.006817,0.01077&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3815,0.2403,0.006817,0.01077) | ε[3] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3891,0.2395,0.007553,0.01746&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3891,0.2395,0.007553,0.01746) | φ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.3963,0.2400,0.007369,0.01833&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.3963,0.2400,0.007369,0.01833) | υλ[1] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.4025,0.2406,0.006264,0.01338&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4025,0.2406,0.006264,0.01338) | α[5] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.4090,0.2406,0.005343,0.01426&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4090,0.2406,0.005343,0.01426) | ς[4] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.4132,0.2397,0.006632,0.01426&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4132,0.2397,0.006632,0.01426) | ς[5] |

| [![image](http://www.homermultitext.org/iipsrv?OBJ=IIP,1.0&FIF=/project/homer/pyramidal/deepzoom/hmt/vbbifolio/v1/vb_135v_136r.tif&RGN=0.4186,0.2383,0.005527,0.01338&WID=100&CVT=JPEG)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_135v_136r@0.4186,0.2383,0.005527,0.01338) | ε[4] |
