

## Human verification of named entity identification for e3, page 131r

## Persons

